.containerForm {
  display: flex;
  width: 340px;
  margin: 0 auto;
}

.form {
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.time {
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.time:last-child {
  margin-right: 0;
}
.export {
  width: 100px;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 10px;
}
